@import '../stylesheets/base.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  // font-size: 1vw;
  font-family: 'Open Sans', sans-serif;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

.flexy {
//   /* To make the transition work nicely.  (Transitions to/from
//   "width:auto" are buggy in Gecko and Webkit, at least.
//   See http://bugzil.la/731886 for more info.) */
  transition: all 1s ease-out;

  display:flex;
  align-self:auto;
  flex-direction:row;
  flex-wrap:nowrap;
}
.row {
   flex-direction:row;
}
.column {
   flex-direction:column;
}

.stretch {
  align-items:stretch;
  align-content:stretch;
}
.flexy.center {
  align-items:center;
  align-content:center;
  align-self:center;
}
.row.stretch {
  height: 100%;
}
.column.stretch {
  max-height: 100%;
}

.child {
  border: solid 2px #eeeeee;
  padding: 1vw 2vw;
  min-height: 2vw;
  position: relative;
  margin-bottom: -0.5vw;
  flex-grow: auto;
}
.child::after {
  content: "v";
  color: silver;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: .75vw;
  line-height: 2vw;
  font-weight: normal;
  position: absolute;
  top: 0;
  right: .5vw;
  transition: all 1s ease-out;
}
.child.expanded {
  flex: 3;
}
.child.expanded::after {
  content: " ";
  transition: all 1s ease-out;
}
.stretch .center {
  margin: auto;
}

/*-------------------------*/
// #aside {
//   .flex-grow(0);
//   .flex-shrink(0);
//   .flex-basis(8vw);
//   .order(2);
// }
// #main {
//   .flex-grow(4);
//   .flex-shrink(50);
//   .order(1);
//   font-size: 4vw;
// }
/*-------------------------*/
.wrapper {
  display: flex;
  height: 100%;
}


/*/////////////////////////////////////////////*/
.hasEnergy {
  box-shadow: 4px 4px 10px rgba(98, 97, 97, 0.09), 0px 0px 55px #ffe302;
  background-image: radial-gradient(ellipse at center, #ffcc02 0%, #ffe302 34%, #ffe206 38%, #ffe513 43%, #ffe415 45%, rgba(255, 228, 19, 0.74) 53%, rgba(255, 226, 6, 0.6) 60%, rgba(255, 227, 2, 0.5) 65%, rgba(255, 227, 2, 0.17) 100%);
  filter: none !important;
}

/*@import "menu.less";
@import "my-status.less";
@import "draggableButton.less";
@import "contacts.less";
@import "accounts-ui.less";*/

// .main{
// 	min-height: 100%;		
// 	display:flex;
// 	justify-content: center;
// }
// .page {
// 	margin-top: 2rem;	
// }

// body{
//     display:flex;
//     justify-content:center;
//     align-items: center;
//     /*background: mintcream;*/
// }
// *{
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }
/*--------------------*/
// .app{
//     display:flex;
//     flex-direction:column;
// }
.fixed {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 9999999999;
    background: #fff;
}
.fixed.header {
    top: 0;
    box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.27);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    z-index: 2147483646
}
.fixed.footer {
    bottom: 0;
}

//-----------------------------------------
.myMainButton {
    background: rgba(245, 217, 217, 0);
    z-index: 99999999999;
 
    padding: 2vw 1vw 3vw;
    transition: all 5s ease-in-out;
    width: 85vw;
}
.myMainButton .btn {
width: 40vw;
height: 39vw;
font-size: 8vw;
font-family: 'Unkempt', cursive;
line-height: 8.85vw;
border-radius: 50%;
//border: 1.5px solid white;
color: #FFF;
white-space: pre;
text-shadow: 1px 3px 1px rgba(98, 97, 97, 0.51);
text-align: center;
vertical-align:middle;
transition: all 2s ease-in-out;
padding: 1.5vw 1vw 0vw;
margin: 5vw auto;
    //font-weight:500;
  }
.myMainButton .ui-draggable-dragging {
    color: transparent;
    font-size: 0;
    width: 15vw;
    height: 15vw;
    /* max-width: 24vw; */
    /* min-height: 24vw; */
  -webkit-transition: width 0.1s ease-in-out;
  transition: width 0.1s ease-in-out;
    padding: 0;
    line-height: 0;
    vertical-align: middle;
    text-align: center;
}

.hasEnergy {
    box-shadow: 4px 4px 10px rgba(98, 97, 97, 0.09),0px 0px 55px #FFE302;

    background: -moz-radial-gradient(center, ellipse cover,     #FFE202 0%,#FFE302 34%,#FFE206 38%,#FFE513 43%,#FFE415 45%,rgba(255,228,19,0.74) 53%,rgba(255,226,6,0.6) 60%,rgba(255,227,2,0.5) 65%,rgba(255,227,2,0.17) 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#FFE202), color-stop(34%,#FFE302), color-stop(38%,#FFE206), color-stop(43%,#FFE513), color-stop(45%,#FFE415), color-stop(53%,rgba(255,228,19,0.74)), color-stop(60%,rgba(255,226,6,0.6)), color-stop(65%,rgba(255,227,2,0.5)), color-stop(100%,rgba(255,227,2,0.17))); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #FFE202 0%,#FFE302 34%,#FFE206 38%,#FFE513 43%,#FFE415 45%,rgba(255,228,19,0.74) 53%,rgba(255,226,6,0.6) 60%,rgba(255,227,2,0.5) 65%,rgba(255,227,2,0.17) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,       #FFE202 0%,#FFE302 34%,#FFE206 38%,#FFE513 43%,#FFE415 45%,rgba(255,228,19,0.74) 53%,rgba(255,226,6,0.6) 60%,rgba(255,227,2,0.5) 65%,rgba(255,227,2,0.17) 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,      #FFE202 0%,#FFE302 34%,#FFE206 38%,#FFE513 43%,#FFE415 45%,rgba(255,228,19,0.74) 53%,rgba(255,226,6,0.6) 60%,rgba(255,227,2,0.5) 65%,rgba(255,227,2,0.17) 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,              #FFCC02 0%,#FFE302 34%,#FFE206 38%,#FFE513 43%,#FFE415 45%,rgba(255,228,19,0.74) 53%,rgba(255,226,6,0.6) 60%,rgba(255,227,2,0.5) 65%,rgba(255,227,2,0.17) 100%);    
    -webkit-filter: none !important;  
    -moz-filter: none !important;  
    filter: none !important;
}
