@import url('https://fonts.googleapis.com/css?family=Griffy|Yanone+Kaffeesatz:400,700');

html,body{
    height: 100%;
}

.main{
	min-height: 100%;		
	display:flex;
	justify-content: center;
}
.page {
	margin-top: 2rem;	
}

/*html{
    font-size: 10px;
}*/
body{
    display:flex;
    justify-content:center;
    align-items: center;
    /*background: mintcream;*/
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*--------------------*/
.app{
    /*background: lightskyblue;*/
    /*padding: 3rem 7.5rem; */
    /*border-radius:.8rem;*/
    display:flex;
    flex-direction:column;
}
/*.card{
    background: papayawhip;
    border-radius:inherit;
	padding: 3rem 7.5rem;
    cursor:pointer;
    margin-top: 3rem;
}
.card:hover{
    background: CornflowerBlue;
}
.card:active{
    background: salmon;
}
.headline{
    font-size: 5rem;
    font-weight:normal;
    font-family: 'Griffy', cursive;
    text-align: center;
    color:DarkSlateBlue;
}
.paragraph{
    font-size: 3.8rem;
    font-weight:400;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    text-align: center;
    color: DarkSlateBlue ;
}
.white-text{
     color:mintcream;
}
.thumb{
	border-radius: .8rem;
    margin-top: 3rem;
	padding: 3rem 7.5rem;
	background-color: DarkSalmon;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/


/*Generic CSS Classes*/
.cap{text-transform: capitalize;}
.mb20{margin-bottom:2rem}
.mt20{margin-top:2rem}
.fz35{font-size: 3.5rem}
.fz30{font-size: 3rem}
.fz25{font-size: 2.5rem}

.hbox{ display: flex }
.vbox{
    display: flex;
    flex-direction: column;
}
.space-between, .sb{ justify-content: space-between}
.space-around, .sa{ justify-content: space-around}
.align-items-center, .ai-center, .aic{align-items: center}
.align-items-start, .ai-start, .ais {align-items: flex-start}
.grow-1,.g1{flex-grow: 1;}
.text-left,.tl{text-align: left}
.dev{border:fuchsia 2px dashed}