.contactName {
    background-color: rgba(232, 232, 232, 0.63) !important;
    font-size: small !important;
    color: #fff !important;
    padding: .2em 1em .2em .2em !important;
    text-shadow: 1px 1px 2px black;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}